<div class="back">
  <div>
    <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
      <nav
        class="relative flex items-center justify-beetween sm:h-10"
        aria-label="Global"
      >
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <a href="/main">
            <span class="sr-only">Workflow</span>
            <img
              alt="Workflow"
              class="h-8 w-auto sm:h-10"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
            />
          </a>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow"></div>
          <div *ngIf="isLogIn === false">
            <a
              routerLink="/"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Log in</a
            >

            <a
              routerLink="/signup"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Register</a
            >
          </div>
          <div *ngIf="isLogIn === true">
            <a
              routerLink="/main"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Notes</a
            >
            <a
              routerLink="/budget"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Budget</a
            >
            <a
              routerLink="/docs"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Docs</a
            >
            <a
              (click)="logOut()"
              routerLink="/"
              class="font-medium text-indigo-600 hover:text-indigo-500 p-6"
              >Log out</a
            >
          </div>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
    <lib-toastify-toast-container></lib-toastify-toast-container>
    <ngx-ui-loader></ngx-ui-loader>
  </div>
</div>
  